{% extends 'base.html' %}
{% load static %}
{%block title %} cart page {%endblock %}

{% block content %}
<center>
    <h4 style="margin-top:50">CART</h4>
</center>


<div class="container-fluid mt-5 " style="margin-bottom:100px">
    <div class="row">
        <h3 class="text-center">Shopping Cart </h3>
        <div class="col-8 ">
        <table class="table  table-bordered" style="border: 2px solid black;" bgcolor="white">
            <tr>
            <th colspan="6"> Cart Item </th>
            </tr>
                {% for i in c %}
            <tr>
                <td><img src="{{i.product.image.url}}" height="150px" class="w-100"> </td>
                <td>{{i.product.name}}</td>
                <td><b>product Id:{{i.product.id}}</b><br>
                <b>quantity:{{i.quantity}}</b><br>
                    <b>Unit price:{{i.quantity}}*{{i.product.price}}</b><br>
                    <td>subtotal:{{i.subtotal}}
                </td>
                <td>
                    {% if i.product.stock > 0 %}
                    <a href="{% url 'cart:addcart' i.product.id %}"><i class="fa-solid fa-plus"></i></a>
                <a href="{% url 'cart:remove' i.product.id %}"><i class="fa-solid fa-minus"></i></a>
                <a href="{% url 'cart:delete' i.product.id %}"><i class="fa-solid fa-trash"></i></a>

                    {% else %}
                    <a href="{% url 'cart:remove' i.product.id %}"><i class="fa-solid fa-minus"></i></a>
                    <a href="{% url 'cart:delete' i.product.id %}"><i class="fa-solid fa-trash"></i></a>{% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-3 ">
            <table class="table  table-bordered" style="border: 2px solid black;" bgcolor="lightblue" >
                <tr>
                    <th colspan="4"> Check Out</th>
                </tr>
                <tr>
                    <td colspan="4"> Total Amount:{{total}}</td>
                </tr>
            </table>
            <a class="btn btn-secondary" href="{% url 'cart:order' %}" >Place order</a>
            <a class="btn btn-secondary" href="{% url 'shop:allcat' %}" style="position:absolute;right:0;">Continue shopping</a>

        </div>
    </div>
</div>
{% endblock %}
