{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-4" style="margin-bottom:100px ,background-color:lightgreen">
    <img src="{% static 'images/pexels-photo-6684769.webp' %}" height="450" width="100%">
</div>
<h3>categories</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
    Aldus PageMaker including versions of Lorem Ipsum.</p>
<div class="container-fluid" style="heigth:40px,width:60px">
  <div class="row">
    {% for i in c %}
    <div class="col-sm-3">
      <div class="card mb-3" style="width: 18rem;">
  <img src="{{i.image.url}}" height="200px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
<!--    <p class="card-text">{{i.desc}}</p>-->
    <a href="{% url 'shop:allpro' i.id %}" class="btn btn-primary">CATEGORY</a>
  </div>
</div>
    </div>
{% endfor %}
{% endblock %}