{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<div class="container-fluid mt-4">
    <h3 class="text-center">You have searched for <span class="text-light">{{q}}</span></h3>
</div>
    </center>

<div class="container-fluid" style="heigth:40px,width:60px">
  <div class="row">
    {% for i in p %}
    <div class="col-sm-3">
      <div class="card mb-3" style="width: 18rem;">
  <img src="{{i.image.url }}" height="200px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'shop:details' i.id %}" class="btn btn-primary">Details</a>
  </div>
</div>
    </div>
{% endfor %}
{% endblock %}

